{% extends 'base.html.twig' %}

{% block main_content %}

    <div class="ml-2 mb-4" style="font-family: Rubik, sans-serif;">
        <div class="h4 mt-2" style="font-weight: bolder; color:#091C3E">
            Mentions légales
        </div>
        <br>
        <div>
            Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance dans l’économie numérique, dite L.C.E.N., il est porté à la connaissance des utilisateurs et visiteurs du site https:footballko.com , ci-après le "Site", les présentes mentions légales.
        </div>
        <br>
        <div>
            La connexion et la navigation sur le Site par l’Utilisateur implique acceptation intégrale et sans réserve des présentes mentions légales.
        </div>
        <br>
        <div>
            Ces dernières sont accessibles sur le Site à la rubrique « Mentions légales ».
        </div>
        <br>
        <br>
        <div class="h5" style="font-weight: bolder; color:#091C3E">
            ARTICLE 1 - L'EDITEUR
        </div>
        <br>
        <div>
            L'édition du Site est assurée par FootballKO, association non déclarée au capital de 0 euro.
        </div>
        <br>
        <br>
        <div class="h5" style="font-weight: bolder; color:#091C3E">
            ARTICLE 2 - L'HEBERGEUR
        </div>
        <br>
        <div>
            L'hébergeur du Site est la société SAS o2switch, dont le siège social est situé au Chemin des Pardiaux 63000 Clermont-Ferrand (numéro de téléphone : 04 44 44 60 40).
        </div>
        <br>
        <br>
        <div class="h5" style="font-weight: bolder; color:#091C3E">
            ARTICLE 3 - ACCES AU SITE
        </div>
        <br>
        <div class="">
            Le Site est accessible en tout endroit, 7j/7, 24h/24 sauf cas de force majeure, interruption programmée ou non et pouvant découlant d’une nécessité de maintenance.
        </div>
        <br>
        <div class="">
            En cas de modification, interruption ou suspension du Site, l'Editeur ne saurait être tenu responsable.
        </div>
        <br>
        <br>
        <div class="h5" style="font-weight: bolder; color:#091C3E">
            ARTICLE 4 - COLLECTE DES DONNEES
        </div>
        <br>
        <div class="">
            Le site est exempté de déclaration à la Commission Nationale Informatique et Libertés (CNIL) dans la mesure où il ne collecte aucune donnée concernant les utilisateurs.
        </div>
        <br>
        <div class="">
            Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou partie du Site, sans autorisation de l’Editeur est prohibée et pourra entraînée des actions et poursuites judiciaires telles que notamment prévues par le Code de la propriété intellectuelle et le Code civil.
        </div>
    </div>


{% endblock %}