<div class="row mb-3">
    <div class="text-center align-center p-3" style="width:100%; background-color: #FF7D00; color:white">
        <h1 class="h1 text-align" style="font-weight: 700">{{ champ.getChampName()|upper }}</h1>
    </div>

</div>