{% extends asset('injury_tab/team/injuries.html.twig') %}
{% block status %}

<h2 class="" style="color:#F0B728"> Dernière MAJ : {{ injuryTab.getUpdatedAtToString() }}</h2>

<table class="table table-striped pt-3 border" style="border-color:#F0B728">

    <thead class="rounded-top">

    <tr style="background-color : #F0B728">
{% endblock%}
