{% extends asset('injury_tab/team/injuries.html.twig') %}

{% block status %}
<h2 class="text-secondary"> Dernière MAJ : {{ injuryTab.getUpdatedAtToString() }}</h2>

<table class="table table-striped pt-3 border border-secondary}">
    <thead class="rounded-top">
    <tr class="">

    {% endblock %}