{% if player.info is null %}
    <td>

    </td>
{% else %}
    <td class="align-middle" style="">
        <div class="d-flex">
            <a href="{{ path('app_article_show', {'slug':player.info.slug}) }}" class="font-italic">
                      <div>
                Voir article ({{ player.info.publishedAt|date('d/m/y') }})
                      </div>
            </a>
        </div>
    </td>
{% endif %}