<div class="mt-4 d-flex align-items-center justify-content-center" style="background-color: #091C3E; color:white; height:3em">
    <a class="align-middle mr-3 text-bolder" href="{{ path('app_legal_mentions') }}">Mentions légales</a>
    <a class="align-middle mr-3 text-bolder" target="_blank" href="https://www.livefoot.fr/">Live Foot</a>
    <a class="align-middle text-bolder" target="_blank" href="https://www.livesport.fr/">Live Sport</a>
</div>