{% include 'ad/banner_bottom.html.twig' %}

<div class="mt-4 d-flex align-items-center justify-content-center" style="background-color: #091C3E; color:white; height:3em">
    <a class="align-middle text-bolder" href="{{ path('app_legal_mentions') }}">Mentions légales</a>
</div>