{% set index = 1 %}
    {% for injuryTab in injuryTabs %}
        {% if injuryTab.club.hasLink %}
            <a class="pt-3 h5 text-info" target="_blank" href="{{ injuryTab.club.link }}">{{ injuryTab.club.getClubNameToUpperCase() }}</a>
        {% else %}
        <h1 class="pt-3 h5">{{ injuryTab.club.getClubNameToUpperCase() }}</h1>
            {% endif %}
            {% include asset('injury_tab/team_status/' ~ injuryTab.status ~ '.html.twig') %}
        {% if modify == false %}
            {% include 'ad/injury_tab.html.twig' %}
            {% set index = index + 1 %}
        {% endif %}

    {% endfor %}
