{% extends 'base.html.twig' %}

{% block main_content %}
    <h1 class="text-center h2">{{ championship.champName }} - J{{ championship.currentDay }}</h1>

    {% include asset('injury_tab/champ/injuries.html.twig') %}


{% endblock %}


{% block secondary_content %}

    <div class="border border-success">
    <h1 class="text-center h3"> Test </h1>
    </div>

{% endblock %}