<!DOCTYPE html>
<html>
    <head>

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-0V5CCY325S"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-0V5CCY325S');
        </script>


        {% block seo %}
            <title onmouseover="">FootballKO</title>
            <meta name="description" content="FootballKO recense les joueurs absents dans quatre grands championnats d'Europe, Ligue 1, Premier League, Liga et Premier League." />
            <meta name="keywords" content="blessures, absences, suspensions, football, Europe, Serie A, Ligue 1, La Liga, Premier League, articles, presse" />
            <meta name="og:title" content="FootballKO" />
            <meta name="og:description" content="FootballKO recense les joueurs absents dans quatre grands championnats d'Europe, Ligue 1, Premier League, Liga et Premier League." />
            <meta name="og:image" content="https:/footballko.com/uploads/logo/FKO.png" />
            <meta name="og:type" content="website" />
            <meta name="twitter:title" content="FootballKO" />
            <meta name="twitter:description" content="FootballKO recense les joueurs absents dans quatre grands championnats d'Europe, Ligue 1, Premier League, Liga et Premier League." />
            <meta name="twitter:image" content="https:/footballko.com/uploads/logo/FKO.png" />
            <meta name="twitter:card" content="summary" />
            <meta name="twitter:site" content="https://FootballKO.com/homepage" />
        {% endblock %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <link rel="icon" type="image/png" href="{{ asset('logo/FKO.png') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
            <link href="public/css/style.css" rel="stylesheet">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

            <!-- Include all compiled plugins (below), or include individual files as needed -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block header %}
        {% include asset('fragments/header.html.twig') %}
        {% endblock %}
        {% block body %}

        <div class="container-md bg-light mt-3">
            <div class="row">

                <div class="col-sm-8 pt-3">
                    <div class="mx-auto">

                    {% block main_content %}
                    {% endblock %}
                    </div>
                </div>

                    <div class="col-sm-4">
                        <div class="container mt-4">
                            <!-- <div class="row mt-3 mb-2 border">
                                <div style="width: 100%; height : 300px">
                                    Publicité
                                </div>
                            </div> -->
                            <div class="row">
                                {% block secondary_content %}
                                {% endblock %}
                            </div>
                        </div>

                    </div>

            </div>
        </div>

        {% endblock %}
    </body>
</html>
