<div class="akcelo-wrapper akcelo-meta-adunit-186">
    <div id="Footballko_Artikle_Container"></div>
</div>
<script type="application/javascript">
    var slmadshb = slmadshb || {};
    slmadshb.que = slmadshb.que || [];
    slmadshb.que.push(function() {
        slmadshb.display("Footballko_Artikle_Container");
    });
</script>