<div class="akcelo-wrapper akcelo-wrapper-label akcelo-placeholder akcelo-adunit-8174" data-ad-text="PUBLICITE" data-placeholder-text="Ad">
    <div id="Footballko_Incontent"></div>
</div>
<script type="application/javascript">
    var slmadshb = slmadshb || {};
    slmadshb.que = slmadshb.que || [];
    slmadshb.que.push(function() {
        slmadshb.display("Footballko_Incontent");
    });
</script>