<div class="akcelo-wrapper akcelo-wrapper-label akcelo-placeholder akcelo-adunit-8178" data-ad-text="PUBLICITE" data-placeholder-text="Ad">
    <div id="Footballko_ATF3_728x90_1"></div>
</div>
<script type="application/javascript">
    var slmadshb = slmadshb || {};
    slmadshb.que = slmadshb.que || [];
    slmadshb.que.push(function() {
        slmadshb.display({code:'Footballko_ATF3_728x90', id: 'Footballko_ATF3_728x90_1'});
    });
</script>

<div class="akcelo-wrapper akcelo-wrapper-label akcelo-placeholder akcelo-adunit-8178" data-ad-text="PUBLICITE" data-placeholder-text="Ad">
    <div id="Footballko_ATF3_728x90_2"></div>
</div>
<script type="application/javascript">
    var slmadshb = slmadshb || {};
    slmadshb.que = slmadshb.que || [];
    slmadshb.que.push(function() {
        slmadshb.display({code:'Footballko_ATF3_728x90', id: 'Footballko_ATF3_728x90_2'});
    });
</script>