<div class="akcelo-wrapper akcelo-wrapper-label akcelo-placeholder akcelo-adunit-8176" data-ad-text="PUBLICITE" data-placeholder-text="Ad">
    <div id="Footballko_ATF_300x600"></div>
</div>
<script type="application/javascript">
    var slmadshb = slmadshb || {};
    slmadshb.que = slmadshb.que || [];
    slmadshb.que.push(function() {
        slmadshb.display("Footballko_ATF_300x600");
    });
</script>