<div id="Footballko_Video"></div>
<script type="application/javascript">
    var slmadshb = slmadshb || {};
    slmadshb.que = slmadshb.que || [];
    slmadshb.que.push(function() {
        slmadshb.display("Footballko_Video");
    });
</script>