<div class="container">
    {% for article in last_articles %}
        <div class="pb-2 row">
            <div class="d-flex flex-column">
                <div class="d-flex">
                    <div class="pr-2 align-self-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                            <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                        </svg>
                    </div>
                    <div class="pr-2">
                        {% include 'article/link/publication_date.html.twig' %}
                    </div>
                    <div class="pr-2">
                        {% include 'article/link/category.html.twig' %}
                    </div>
                    <div class="pr-2">
                        {% include 'article/link/associated_entity.html.twig' %}
                    </div>

                </div>

                <div class="justify-content-center font-weight-bold">
                    <a style="line-height: inherit; font-size: 13px" href="{{ path('app_article_show', {'slug':article.slug}) }}">
                        {{ article.title }}
                    </a>
                </div>
            </div>

        </div>
    {% endfor %}
</div>